@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgb(12, 55, 4), rgb(117, 133, 126), rgb(103, 109, 114), rgb(89, 111, 69), rgb(122, 122, 48), rgb(95, 61, 46));
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}



.stores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100vw;
}

.store-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.store-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  display: grid;
}

.title-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(rgb(20, 116, 53), rgb(130, 155, 197));
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  color: rgba(28, 28, 8, 0.975);
  padding: 7px 20px;
  margin: 0;
  box-shadow: 5px 5px 5px 5px gray;
  text-shadow: 2px 2px 5px whitesmoke;
}

.site-title {
  color: black;
  margin-bottom: 0;
  font-family: Combo, cursive;
  font-size: calc(1.3em + 1.5vw);
}

.subtitle {
  margin-top: 0;
  padding-top: 0;
  font-size: calc(.7em + 1vw)
}

.store-list {
  display: flex;
  flex-direction: column;
}

.listings {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 50px;
}

.prod-card {
  margin: 10px 200px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

.show-email{
 display:none;
}

@media screen and (min-width: 480px) {

  .mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  .show-email{
    display: unset;
   }

}
  

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }