* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 3%;
  margin-bottom: 30px;
  background: #555;
}

header * {
  color: #fff;
}

header nav a {
  margin-left: 10px;
  font-size: 1rem;
  text-decoration: none;
}

header nav a.active {
  text-decoration: underline;
}

.todos {
  padding: 0 3% 25px;
}

.listings {
  display: flex;
  flex-direction: column;
  align-items: center;
}