* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 3%;
  margin-bottom: 30px;
  background: #555;
  height: 10vh;
}

header * {
  color: #fff;
}

header nav a {
  margin-left: 10px;
  font-size: 1rem;
  text-decoration: none;
}

header nav a.active {
  text-decoration: underline;
}

footer {
  height: 10vh;
}

.todos {
  padding: 0 3% 25px;
}


main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  
}

.store-front {
  width: 80vw;
  height: 30vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;

}

.store_card {
  height: 100%;
  margin: 20px;
}



@media screen and (min-width: 768px) {
  main {
   flex-direction: row;
  } 

  
}



@media screen and (min-width: 480px) {
  

   .store-front {
    width: 20vw;
    height: 20vh;
  }
}


.listings {
  display: flex;
  flex-direction: column;
  align-items: center;
}