.footer {
  display: flex;
  max-height: 200px;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background: rgb(148, 156, 202);
}

h3, h4, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.creators {
  padding: .69rem;
  display: grid;
  justify-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}

.foot-heading {
  display: flex;
  justify-content: center;

}

.dappers {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 50px;
}

.dappers a {
  color: black;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

@media screen and (min-width: 800px) {
  .dappers {
    flex-direction: row;
    justify-content: space-between;
  }
}