.shopping-cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 80vh;
    width: 100%;
    background-color: rgb(127, 219, 255);
  }

  .listing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(189, 255, 127);
  }